.vscode/
KHR/
OptixCache_*/
glad/
tmp/
vid/
*.docx
*.exe
*.exp
*.gz
*.lib
*.mtl
*.ncu-rep
*.o
*.obj
*.out
*.png
!/optx/img/*.png
*.pptx
*.scn
*.tmp
*.xlsx
*.zip
rtow
rtwo
sphere
stb_image.h
tiny_obj_loader.h
